.header-spacer {
    width: 24px;
}
mat-toolbar {
    background: var(--background-color);
    // width: 90%;
    // border-bottom: 1px solid red;
    color: var(--text-color-primary);
    .title-section {
        min-width: 268px;
        padding-right: 88px;
        .logo-icon {
            width: 30px;
            height: 30px;
            // line-height: 30px;
            font-size: 30px;
            margin-right: 12px;
            transform: rotate(45deg);
        }
        button {
            margin-right: 16px;
        }
    }

    .header-actions {
        & button mat-icon {
            font-size: 22px;
            width: 22px;
            height: 22px;
        }
    }

    .avatar-btn {
        padding: 8px;
        div.google-one-circle {
            width: 40px;
            height: 40px;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            svg {
                width: inherit;
                height: inherit;
            }
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.search-field {
    height: 48px;
    background: var(--header-search-field);
    border-radius: 8px;
    max-width: 720px;
    flex: 1 1 auto;
    padding: 0px 8px;

    button {
        margin: 0px 4px;
    }

    form {
        width: 100%;
        input {
            color: var(--text-color-primary);
            font-size: 16px;
            margin: 0px 4px;
            // height: 100%;
            flex: 1 1 auto;
            background: transparent;
            border: 0px;
            outline: none;
            width: 100%;

            &::placeholder {
                color: var(--text-color-secondary);
            }
        }
    }
}

.option-container {
    display: flex;
    flex-direction: column;

    span {
        line-height: 16px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 600px) {
    .search-field {
        display: none !important;
    }
}

.g-account {
    width: 400px;
    box-shadow: 0 4px 8px 3px rgba(0,0,0,.15),0 1px 3px rgba(0,0,0,.3);
    border-radius: 12px;
    padding: 16px;
    background: var(--color-primary-background);
    .g-account-header {
        .placeholder {
            width: 40px;
            height: 40px;
        }
        p {
            margin: 0px;
            text-align: center;
            &:first-of-type {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        h1 {
            margin: 0px;
        }
        
        img {
            border-radius: 50px;
        }

        .manage-account {
            border: 1px solid var(--color-primary);
            border-radius: 50px;
        }

        .button-group {
            display: flex;
            flex-direction: row;
            gap: 2px;
            width: 100%;

            button {
                padding: 0px 15px 0px 15px;
                height: calc(24px + 2.25rem);
                background: white;
                font-size: 16px;
                border: 0px;
                flex: 1 1 auto;
                font-family: Roboto, sans-serif;
                font-weight: 500;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                gap: 12px;
                
                &:first-of-type{
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                &:last-of-type{
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                }


                mat-icon {
                    margin: 4px;
                }
            }
        }
        .footer {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }
    }
}