<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
    <div class="title-section" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-icon
            class="logo-icon"
            svgIcon="fizz_buzz"
            color="primary"
        ></mat-icon>
        <span>FizzBuzz</span>
    </div>
    <div class="search-field" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <form class="example-form">
            <input
                type="text"
                placeholder="Search"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="contactDisplayFn">
                <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option"
                >
                    <div class="option-container">
                        <span>{{ option.firstName }} {{ option.lastName }}</span>    
                        <small class="mat-caption">{{option.jobTitle}}</small>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </form>
        <button
            mat-icon-button
            (click)="clearSearchField()"
            *ngIf="searchTextInput"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div fxFlex></div>
    <div fxLayout="row" class="header-actions">
        <button mat-icon-button [matMenuTriggerFor]="helpMenu">
            <mat-icon>help_outline</mat-icon>
        </button>
        <mat-menu #helpMenu="matMenu">
            <button mat-menu-item>
                <span>Send feedback</span>
            </button>
            <button mat-menu-item>
                <span>Help</span>
            </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
            <mat-icon class="material-icons-outlined">settings</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu">
            <button (click)="toggleDarkMode()" mat-menu-item>
                <span>Dark Mode</span>
            </button>
            <button mat-menu-item>
                <span>Undo changes</span>
            </button>
            <button mat-menu-item>
                <span>More settings</span>
            </button>
        </mat-menu>
        <div class="header-spacer"></div>
        <button mat-icon-button>
            <mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
