<main>
    <app-header></app-header>
    <mat-drawer-container>
        <mat-drawer #drawer class="example-sidenav" [mode]="drawerMode" [opened]="isDrawerOpen">
            <mat-nav-list>
                <mat-list-item routerLink="/contacts" routerLinkActive="active">
                    <mat-icon>
                        person
                    </mat-icon>
                    <span>Contacts</span>
                    <div fxFlex></div>
                    <span>{{contacts.getContacts().length}}</span>
                </mat-list-item>
                <mat-list-item routerLink="/frequent" routerLinkActive="active">
                    <mat-icon>
                        history
                    </mat-icon>
                    <span>Frequently Contacted</span>
                </mat-list-item>
                <mat-list-item routerLink="/suggestions" routerLinkActive="active">
                    <mat-icon>
                        merge_type
                    </mat-icon>
                    <span>Merge & Fix</span>
                </mat-list-item>
                <mat-list-item routerLink="/tag/1" routerLinkActive="active">
                    <mat-icon>
                        label
                    </mat-icon>
                    <span>Labels</span>
                </mat-list-item>
                <mat-list-item routerLink="/other" routerLinkActive="active">
                    <mat-icon>
                        cake
                    </mat-icon>
                    <span>Other Contacts</span>
                </mat-list-item>
                <mat-list-item routerLink="/trash" routerLinkActive="active">
                    <mat-icon>
                        delete
                    </mat-icon>
                    <span>Trash</span>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
            <!-- <div class="example-sidenav-content">
                <button type="button" mat-button (click)="drawer.toggle()">
                    Toggle sidenav
                </button>
            </div> -->
        </mat-drawer-content>
    </mat-drawer-container>
</main>
