<main>
    <app-header></app-header>
    <mat-drawer-container>
        <mat-drawer
            #drawer
            class="example-sidenav"
            [mode]="drawerMode"
            [opened]="isDrawerOpen"
        >
            <button
                (click)="openCreateContact()"
                class="add-contact-btn mat-elevation-z2"
                mat-button
                color="primary"
            >
                <mat-icon>add</mat-icon>
                <span>Create contact</span>
            </button>
            <div class="navigation-list">
                <button
                    mat-button
                    routerLink="/contacts"
                    routerLinkActive="active"
                >
                    <mat-icon matListItemIcon> person </mat-icon>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                        <span>Contacts</span>
                        <div fxFlex="100"></div>
                        <span>{{ contactsLength }}</span>
                    </div>
                </button>
                <button
                    mat-button
                    routerLink="/frequent"
                    routerLinkActive="active"
                >
                    <mat-icon matListItemIcon> history </mat-icon>
                    <span>Frequently Contacted</span>
                </button>
                <button
                    mat-button
                    routerLink="/suggestions"
                    routerLinkActive="active"
                >
                    <mat-icon matListItemIcon> merge_type </mat-icon>
                    <span>Merge & Fix</span>
                </button>
                <hr />
                <div class="section-header">
                    <h3>Labels</h3>
                    <button mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <button
                    mat-button
                    routerLink="/tag/{{ label }}"
                    *ngFor="let label of contactTags"
                    routerLinkActive="active"
                >
                    <mat-icon matListItemIcon> label </mat-icon>
                    <span>{{ label }}</span>
                </button>

                <hr />
                <button
                    mat-button
                    routerLink="/other"
                    routerLinkActive="active"
                >
                    <mat-icon matListItemIcon>archive</mat-icon>
                    <span>Other Contacts</span>
                </button>
                <button
                    mat-button
                    routerLink="/trash"
                    routerLinkActive="active"
                >
                    <mat-icon matListItemIcon> delete </mat-icon>
                    <span>Trash</span>
                </button>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</main>
