mat-toolbar {
    background: var(--background-color-card) !important;
    border-bottom: 1px solid -var(--border-color);

    &.footer {
        border-top: 1px solid -var(--border-color);
    }
}

.contact-details {
    mat-toolbar {
        padding: 24px;
        height: 108px;
    }
}

mat-icon {
    color: var(--text-color-secondary);
}

mat-chip,
mat-chip:hover,
mat-chip:focus,
.mat-chip {
    background: var(--background-color) !important;
    border: 1px solid var(--border-color);

    & mat-icon {
        margin-right: 8px;
    }
}

form,
.detail-section {
    padding: 24px;
    overflow: auto;
    max-width: 720px;
}

.detail-section {
    > div {
        & mat-icon {
            margin: 0px 24px;
        }

        p {
            margin: 0px;
        }
    }
}

.profile-icon {
    width: 60px;
    height: 60px;
    background: var(--color-primary);
    border-radius: 60px;
    text-align: center;

    & span {
        // margin: 12px;
        color: white;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
    }
}
