<div class="contact contact-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="full-name" fxFlex>
        <span>Full Name</span>
    </div>
    <div class="job-title" fxFlex>
        <span>Job Title</span>
    </div>
    <div class="email" fxFlex>
        <span>Email</span>
    </div>
    <div class="phone" fxFlex>
        <span>Phone</span>
    </div>
    <div class="labels" fxFlex>
        <span>Labels</span>
    </div>
    <div class="actions">
        <div class="action-buttons">
            <button mat-icon-button>
                <mat-icon>print</mat-icon>
            </button>
            <button mat-icon-button><mat-icon>file_upload</mat-icon></button>
            <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item (click)="openDensityDialog()">
                    <mat-icon>list</mat-icon>
                    <span>Display Density</span>
                </button>
                <button mat-menu-item (click)="openColumnModificationDialog()">
                    <mat-icon>view_column_outline</mat-icon>
                    <span>Modify columns</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
<div class="contacts-container" fxLayout="column">
    <ng-container *ngFor="let contact of contactList; let index = index">
        <span class="row-subheader" *ngIf="contact.favorite && index === 0">Favorites</span>
        <ng-container *ngIf="contact.favorite">
            <ng-container *ngTemplateOutlet="contactRow; context: { contact: contact, index: index }"></ng-container>
        </ng-container>
        <span class="row-subheader" *ngIf="index !== 0 && !contact.favorite && contactList[index - 1].favorite">Contacts</span>
        <ng-container *ngIf="!contact.favorite">
            <ng-container *ngTemplateOutlet="contactRow; context: { contact, index: index }"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #contactRow let-contact="contact" let-index="index">
    <div
        class="contact contact-row"
        [class.comfortable]="density === 'comfortable'"
        [class.cozy]="density === 'cozy'"
        fxLayout="row"
        fxLayoutAlign="start center"
        (click)="openContactDetails(contact, false)"
        (keydown.enter)="openContactDetails(contact, false)"
        tabindex="0"
        role="button"
    >
        <div class="full-name" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <div class="profile-icon" [style.background]="contact.color">
                <img [src]="contact.photoUrl" *ngIf="contact.photoUrl; else placeholder" alt="{{contact.firstName}} photo">
                <ng-template #placeholder>
                    <span> {{ contact.firstName.substr(0, 1) }}</span>
                </ng-template>
            </div>
            <span>{{ contact.firstName }} {{ contact.lastName }}</span>
        </div>
        <div class="email" fxFlex>
            <span>{{ contact.jobTitle }}</span>
        </div>
        <div class="phone" fxFlex>
            <a href="mailto:{{ contact.email }}" (click)="$event.stopPropagation()">{{ contact.email }}</a>
        </div>
        <div class="job-title" fxFlex>
            <a href="tel:{{ contact.phone }}" (click)="$event.stopPropagation()">{{ contact.phone }}</a>
        </div>
        <div class="labels" fxFlex>
            <mat-chip-set>
                <ng-container *ngIf="contact.labels">
                    <mat-chip *ngFor="let label of contact.labels">{{ label.label }}</mat-chip>
                </ng-container>
            </mat-chip-set>
        </div>
        <div class="actions">
            <div class="action-buttons">
                <button mat-icon-button (click)="favoriteContact(contact.favorite, index); $event.stopPropagation()">
                    <mat-icon [color]="contact.favorite ? 'primary' : ''">{{ contact.favorite ? "star" : "star_outline" }}</mat-icon>
                </button>
                <button mat-icon-button (click)="openContactDetails(contact, true); $event.stopPropagation()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="rowMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #rowMenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>print</mat-icon>
                        <span>Print</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>file_upload</mat-icon>
                        <span>Export</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>visibility_off</mat-icon>
                        <span>Hide from contacts</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</ng-template>
