.contact {
    padding: 16px 0px;
    height: 64px;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    &.cozy {
        height: 56px;
    }

    > div:first-child {
        padding-left: 24px;
    }

    > div:last-child {
        padding-right: 24px;
    }

    .actions {
        min-width: 180px;
    }
}

.contact-header {
    color: var(--text-color-secondary);
    background: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 5;
    border-bottom:  1px solid var(--border-color);
    > div {
        span {
            font-weight: 500;
        }
    }
}

.contact-row {
    padding: 16px 0px;

    > div:first-child {
        padding-left: 24px;
    }

    > div:last-child {
        padding-right: 24px;
    }

    &:hover {
        background: var(--hover-color);
        cursor: pointer;

        .action-buttons {
            display: block;
        }
    }

    .action-buttons {
        display: none;
    }



    .profile-icon {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        text-align: center;

        & span {
            // margin: 12px;
            color: white;
            font-size: 16px;
            line-height: 38px;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .phone {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 700px) {
    .phone {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1100px) {
    .email {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1280px) {
    .job-title {
        display: none;
    }
}
