// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$contacts-clone-primary: mat.define-palette(mat.$blue-palette, A700, 800, 900);
$contacts-clone-accent: mat.define-palette(mat.$blue-palette, 500, 300, 400);

// The warn palette is optional (defaults to red).
$contacts-clone-warn: mat.define-palette(mat.$red-palette);

$contacts-clone-primary-dark: mat.define-palette(
    mat.$blue-palette,
    400,
    800,
    900
);
$contacts-clone-accent-dark: mat.define-palette(
    mat.$blue-palette,
    500,
    300,
    400
);

// The warn palette is optional (defaults to red).
$contacts-clone-warn-dark: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$contacts-clone-theme: mat.define-light-theme(
    (
        color: (
            primary: $contacts-clone-primary,
            accent: $contacts-clone-accent,
            warn: $contacts-clone-warn,
        ),
    )
);

$contacts-clone-theme-dark: mat.define-dark-theme(
    (
        color: (
            primary: $contacts-clone-primary-dark,
            accent: $contacts-clone-accent-dark,
            warn: $contacts-clone-warn-dark,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($contacts-clone-theme);

/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

::placeholder {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--background-color);

    --color-primary: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme, primary)
        )};
    --color-accent: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme, accent)
        )};
    --hover-color-primary: #{transparentize(
            mat.get-color-from-palette(map-get($contacts-clone-theme, primary)),
            0.88
        )};
    --hover-color-accent: #{transparentize(
            mat.get-color-from-palette(map-get($contacts-clone-theme, accent)),
            0.88
        )};
    --hover-color: #{rgba(black, 0.06)};
    --border-color: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme, foreground),
            divider
        )};
    --background-color-card: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme, background),
            card
        )};
    // --background-color: #{mat.get-color-from-palette(map-get($contacts-clone-theme, background), background)};
    --background-color: white;
    --background-color-table-stripe: #{map_get(mat.$grey-palette, 200)};
    --text-color-primary: #{rgba(black, 0.87)};
    --text-color-secondary: #{rgba(black, 0.54)};
    --text-color-disabled: #{rgba(black, 0.38)};
    --header-search-field: rgba(241, 243, 244, 1);
}

body.dark {
    @include mat.all-component-themes($contacts-clone-theme-dark);
    --color-primary: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme-dark, primary)
        )};
    --color-accent: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme-dark, accent)
        )};
    --hover-color-primary: #{transparentize(
            mat.get-color-from-palette(
                map-get($contacts-clone-theme-dark, primary)
            ),
            0.88
        )};
    --hover-color-accent: #{transparentize(
            mat.get-color-from-palette(
                map-get($contacts-clone-theme-dark, accent)
            ),
            0.88
        )};
    --hover-color: #{rgba(white, 0.06)};
    --border-color: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme-dark, foreground),
            divider
        )};
    --background-color-card: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme-dark, background),
            card
        )};
    --background-color: #{mat.get-color-from-palette(
            map-get($contacts-clone-theme-dark, background),
            background
        )};
    --background-color-table-stripe: #{map_get(mat.$grey-palette, 200)};
    --text-color-primary: #{rgba(white, 0.87)};
    --text-color-secondary: #{rgba(white, 0.54)};
    --text-color-disabled: #{rgba(white, 0.38)};
    --header-search-field: rgba(241, 243, 244, 1);
    --header-search-field: rgba(241, 243, 244, 0.24);
}

.mat-drawer-container {
    // background: var(--background-color);
    height: calc(100% - 64px);
    mat-drawer {
        width: 285px;
    }
}

button.mat-menu-item {
    height: 36px;
    line-height: 36px;
}

.contact-modal .mat-dialog-container {
    padding: 0px;
}

a {
    color: var(--color-primary);
    outline: none;
    text-decoration: none;
}

mat-expansion-panel.mat-expansion-panel {
    box-shadow: none !important;
    & mat-expansion-panel-header.mat-expansion-panel-header {
        padding: 0px 16px !important;
        height: 40px !important;
    }
    & .mat-expansion-panel-header-title {
        & mat-icon {
            width: 18px;
            height: 18px;
            font-size: 18px;
            margin: 0px 20px 0px 12px;
        }

        & span {
            font-size: 14px;
            font-weight: 500;
        }
    }
    & .mat-expansion-panel-body {
        padding: 0px !important;
    }
}

.profile-icon {
    width: 36px;
    height: 36px;
    background: var(--color-primary);
    border-radius: 36px;
    text-align: center;

    & span {
        // margin: 12px;
        color: white;
        font-size: 16px;
        line-height: 38px;
        text-align: center;
    }
}
